-- ========================================
-- ADD MISSING COLUMNS TO ANALYSIS_HISTORY
-- ========================================
-- Add project_id, session_id, and api_key_id columns to analysis_history table

ALTER TABLE public.analysis_history 
ADD COLUMN IF NOT EXISTS project_id UUID REFERENCES public.projects(id) ON DELETE SET NULL;

ALTER TABLE public.analysis_history 
ADD COLUMN IF NOT EXISTS session_id UUID;

ALTER TABLE public.analysis_history 
ADD COLUMN IF NOT EXISTS api_key_id UUID REFERENCES public.api_keys(id) ON DELETE SET NULL;

-- Create indexes for the new columns
CREATE INDEX IF NOT EXISTS idx_analysis_history_project_id ON public.analysis_history(project_id);
CREATE INDEX IF NOT EXISTS idx_analysis_history_session_id ON public.analysis_history(session_id);
CREATE INDEX IF NOT EXISTS idx_analysis_history_api_key_id ON public.analysis_history(api_key_id);
